

body{
  font-family: 'Baloo Thambi 2', cursive;
  background:#000000; 
  /* sorry i wanted to use black lol */
  margin: 0px 550px;
  width: 1100px;
}
#navigationBar{
  text-align: right;
  background: rgb(5, 0, 44);
  padding: 20px;
  padding: 10px 20px 10px -100px;
  margin: 0px;
  
}
.headerList{
  display: inline-block;
  padding: 0px 20px;

}

a{
  
  color:white;
  display: inline;
  text-decoration: none;
  
}
#headerImage{
  background: black;
  text-align: right;

}
#introduction {

  position: absolute;
  top: 180px;
  left: 800px;
  padding: 50px;
  /*REMOVE THIS*/
  /* background: green;  */
}


h1 {
  color: white;
  font-size: 40px;
  /* border: dotted black 2px;  */
  
}
h2 {
  color: gray;
  margin: -50px 5px 0 0;
  padding: 
}

#section1{
  text-align: center;
  color: #FFFFFF
}
#section1 h3{
  font-size: 23px;
}
#profilePicture{
  border-radius: 50%;
}
#section1 p {
margin: 1% 30%;
}
#section2 {
  color: #FFFFFF;
  text-align: center;
  margin: 20px;
}
#myImagesSet1, #myImagesSet2{
  display: block;
}

.imageAdjust{
  padding: 10px;
  border-radius: 10%;
  margin: 5px;
  /* border: solid red 1px; */

}

#section3 {
  
  color: white;
  text-align: center;
}
.reachOut{
  border: 2px solid white;
  border-radius: 6px;
  display: block;
  margin: 2% 24%;
}

.reachOut {
  display: block;

  text-align: center;
  padding: 2% 3%;
  margin: 10% 25%;
}
.boxes{
  text-align: left;
  background: rgb(36, 36, 36);
  
  padding: 20px 175px;
  margin: 30px 10px;
}

#button{
  display: block;
  align-content: stretch;
 
  color: white;
  background: blue;
  padding: 10px 50px;
  margin: 10px 35%;
 
}

#footerBar{
  background: rgb(5, 0, 44);
  padding: 10px 38%;
}
.spacer{
  padding: 10px 20px;
}